.breadcrumbs {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    padding: 2rem 4rem;
    /* outline: 1px solid #ccc; */
    align-items: center;
    transition: all 0.5s;
    justify-content: center;
    /* backdrop-filter: blur(1rem); */
    border-radius: 0.25rem;
    background-color: #eee;
}

.breadcrumb {
    color: #bbb;
}

.breadcrumb.active {
    color: #000;
    font-size: 2rem;
}