@import url(./styles/breadcrumbs.css);
@import url(./styles/participants.css);
@import url(./styles/alerts.css);

html, body {

}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
}

.stages {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    outline: 1px solid #ccc;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    outline: 1px solid #ccc;
}

.role-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.role-list {
    gap: 1rem;
    padding: 1rem;
    outline: 1px solid #ccc;
}

.table-row {
    display: grid;
    grid-template-columns: minmax(40px, auto) 1fr 4fr;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    outline: 1px solid #ccc;
}

.table-row.header {
    font-weight: bold;
}

.chip-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
}

.chip {
    gap: 0.5rem;
    padding: 0.5rem;
    outline: 1px solid #ccc;
    border-radius: 0.25rem;
}