@import url(./styles/breadcrumbs.css);
@import url(./styles/participants.css);
@import url(./styles/alerts.css);

html, body {

}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
}

.stages {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    outline: 1px solid #ccc;
}